body {
	background: #f9e933;
}

header, main, footer {
	min-width: 855px;
}

h1 {
	font-family: 'Unbuntu', sans-serif;
	font-size: 250%;
}

h2 {
	font-family: 'Unbuntu', sans-serif;
	font-size: 200%;
}

h3 {
	font-family: 'Unbuntu', sans-serif;
	font-size: 150%;
}

h4 {
	font-family: 'Unbuntu', sans-serif;
	font-size: 75%;
}

h5 {
	font-family: 'Unbuntu', sans-serif;
	font-size: 50%;
}

p, a {
	font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

.topcontainer {
	max-width: 855px;
	min-height: 70px;
	margin: auto;
	background: white;
}

header {
	background: white;
	overflow: auto;
}

header h1 {
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
	display: block;
	overflow: auto;
}

main .mainbody {
	float: left;
	width: 570px;
}

main .mainimg {
	float: left;
	width: 285px;
}

footer {
	/*background: linen;*/
	overflow: auto;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap {
	float: right;
	width: 285px;
}

table {
	color: black;
	overflow: auto;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

th {
	background-color: #linen;
}

tr:nth-child(odd) {
	background-color: #ddd;
}
tr:nth-child(even) {
	background-color: #fff;
	height: 30px;
}

td:nth-child(odd) {
	padding-left: 10px;
}

td:nth-child(even) {
	padding-left: 10px;
	padding-right: 5px;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: #eee;
}

main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
}

main .content li {
    border-radius: 5px;
    padding: 3px;
    background: #eff;
    margin: 0 0 10px 0;
}